RewriteEngine on

#Redirecciona al index
RewriteRule ^$ /framework_php/vistas/index.php [L]

#buscar el archivo ingresado en la url
RewriteCond %{REQUEST_FILENAME} !-f

#Urls amigables
RewriteRule ^([a-zA-Z0-9/]+)$ /framework_php/vistas/$1.php [NC,L]


#Error
ErrorDocument 404 /framework_php/error/404.php
ErrorDocument 500 /framework_php/error/500.php
ErrorDocument 403 /framework_php/error/403.php
ErrorDocument 300 /framework_php/error/300.php
